body{
	background-color: #34495e;
	color: white;
	font-family: 'Montserrat';
	text-align: center;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	font-size: 87.5%;
}

h1 {
	font-size: 3em;
	 
}

h2 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;
}

a {
	text-decoration: none;
}

hr {
	width: 50%;
}

a:visited {
	color: white;
}

#app_title {
	margin-bottom: 10px;
}

#app_title h1{
	margin: 0px;
}

#location_form {

}

#forecast {
	margin-bottom: 50px;
}

.submit_button {
    border-radius: 0px;
    border: 0;
    font-family: 'Montserrat';
    background: white;
    padding: 5px 20px;
}	

#zip_box {
	font-family: 'Montserrat';
    font-size: 1em;
}

#footer{
	text-align: center;
	width: 100%;
	font-size : 1em;
  	padding-top: 5px;
	padding-bottom: 5px;
  	position:fixed;
  	bottom:0px;
  	border-top: 2px solid #EEF2F3;
}