body{
	background-color: #34495e;
	color: white;
	font-family: 'Montserrat';
	text-align: center;
}

h1 {
	font-size: 3em;
}

h3 {
	font-size: 1.2em;
}

a {
	text-decoration: none;
}

a:visited {
	color: white;
}

#app_title {
	padding-top: 40px;
}

#location_form {
	padding-top: 60px;
}

#zip_submit {
    border-radius: 0px;
    border: 0;
    font-family: 'Montserrat';
    font-size: 1.2em;
    background: white;
    padding: 5px 20px;
}	

#zip_box {
	font-family: 'Montserrat';
    font-size: 1.3em;
}

#footer{
	text-align: center;
	width: 100%;
	font-size : 1em;
  	padding-top: 5px;
	padding-bottom: 5px;
  	position:fixed;
  	bottom:0px;
  	border-top: 2px solid #EEF2F3;
}